:root {
  /* Primary*/
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--White);
}
main {
  padding: 5em 2.5em;
  background-color: var(--Grey-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 2em;
  border-radius: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.profile {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
.profile-img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3em solid var(--Purple-300);
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  font-weight: 700;
  font-size: 1.2em;
}
.txt-ttl {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.daniel {
  background-color: var(--Purple-500);
}
.quote {
  display: none;
  position: absolute;
  right: 3em;
  top: 0;
}
.jonathan {
  background-color: var(--Grey-500);
}
.jonathan .profile-img {
  border-color: var(--Grey-500);
}
.jeanette {
  background-color: var(--White);
}
.jeanette .profile-img {
  border-color: var(--White);
}
.jeanette p {
  color: var(--Dark-blue);
}
.patrick {
  background-color: var(--Dark-blue);
}
.patrick .profile-img {
  border-color: var(--Purple-500);
}
.patrick .test-txt p {
  color: var(--Purple-50);
}
.kira {
  background-color: var(--White);
}
.kira .profile-img {
  border-color: var(--White);
}
.kira p {
  color: var(--Dark-blue);
}

@media (max-width: 43em) {
  main {
    padding: 5em;
  }
}
@media (min-width: 45em) {
  main {
    padding: 5em 10em;
  }
}

@media (min-width: 84em) {
  main {
    padding: 10em 3em;
    height: fit-content;
  }
  section {
    display: flex;
    width: 100%;
  }
  .grid-1 {
    width: 70%;
    /* align-self: center; */
  }
  .sub-grid-1 {
    margin: 0 0 1.5em 0;
    display: grid;
    grid-template-columns: 34em 18em;
    gap: 1.5em;
    /* width: 50%; */
  }
  .sub-grid-2 {
    display: grid;
    grid-template-columns: 18em 34em;
    gap: 1.5em;
  }
  .grid-2 {
    width: 19em;
    margin: 0 0 0 1em;
  }
  .grid-2 .card {
    height: 100%;
  }

  .card {
    margin: unset;
  }
  .quote {
    display: block;
  }
}

